.main-nav {

  $block-name:                &; // #{$block-name}__element

  // первый уровень
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;


    // настольный вид списка
    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }


    &--lvl-2 {

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        $padding-min: 40px; // нужный отступ от краев экрана
        $half-screen-xl: $screen-xl / 2 - $padding-min;
        padding-left: calc(50% - #{$half-screen-xl});
        padding-right: calc(50% - #{$half-screen-xl});
        background-color: $white;
      }

      #{$block-name}__link {
        font-weight: 400;
        text-transform: none;

        @media (min-width: $menu-desktop-width) {
          color: $title-color !important;
        }
      }
    }
  }

  &__item {

    @media (max-width: $menu-desktop-width - 1) {
      padding: 12px 0;
    }

    @media (min-width: $menu-desktop-width) {
      margin-right: 24px;
    }

    &:not(:last-child) {

      @media (max-width: $menu-desktop-width - 1) {
        border-bottom: 1px solid $border-color;
      }
    }

    &.active {

      & > #{$block-name}__link {
        color: $link-color;
      }
    }

    &--lvl-2 {
      border-bottom: none !important;
      margin-top: 8px;

      @media (max-width: $menu-desktop-width - 1) {
        padding: 0;
      }

      &.active {

        & > #{$block-name}__link {
          color: $link-color !important;
        }
      }
    }
  }

  &__link {
    display: block;
    padding: 8px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: $title-color;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $link-color;
      //background-color: aquamarine;
    }

    @media (min-width: $menu-desktop-width) {
      color: $white !important;

      &[aria-expanded="false"],
      &[aria-expanded="true"] {

        &::after {
          background-image: svg-load('../blocks/sprite-svg/svg/chevron-down.svg', fill=$white) !important;
        }
      }

      &:hover,
      &:focus {
        color: $white;
        text-decoration: underline;
      }
    }

    &[aria-expanded="false"],
    &[aria-expanded="true"] {
      position: relative;
      padding-right: 28px;

      &::after {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 18px;
        background-image: svg-load('../blocks/sprite-svg/svg/chevron-down.svg', fill=$title-color);
      }
    }

    &[aria-expanded="true"] {

      &::after {
        transform: translateY(-50%) rotate(180deg);
        background-image: svg-load('../blocks/sprite-svg/svg/chevron-down.svg', fill=$link-color);
      }
    }

    &--lvl-2 {

      @media (min-width: $menu-desktop-width) {
        padding-top: 11px;
        padding-bottom: 11px;

        &:hover,
        &:focus {
          text-decoration: none;
          color: $link-color !important;
        }
      }
    }
  }
}
