.index-gallery {
  padding-top: 40px;
  //padding-bottom: 40px;
  color: $white;
  background-color: $main-color;

  @media (min-width: $screen-xl) {
    padding-top: 48px;
    padding-bottom: 8px;
  }

  $block-name:                &; // #{$block-name}__element

  .col-1-2-4 {
    margin-bottom: 40px;
  }

  .index-heading,
  .news-card__title,
  .datetime {
    color: inherit;
  }

  .index-heading {
    border-color: inherit;
  }

  .news-card__link {

    &:hover,
    &:focus {
      color: $white;
      text-decoration: underline;
    }
  }
}
