.index-video {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $screen-xl) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  $block-name:                &; // #{$block-name}__element

  &__col {

    & + & {

      @media (max-width: $screen-md - 1) {
        margin-top: 40px;
      }
    }
  }
}
