.index-video {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $screen-xl) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  $block-name:                &; // #{$block-name}__element

  .embed-responsive {
    border-radius: $border-radius;

    iframe {
      border: none;
    }
  }

  &__col {

    & + & {

      @media (max-width: $screen-md - 1) {
        margin-top: 40px;
      }
    }
  }

  &__title {
    margin-top: 24px;
    margin-bottom: 0;
  }
}
