.events-slider {
  height: 100%;

  @media (min-width: $screen-xl) {
    display: flex;
    flex-direction: column;
  }

  $block-name:                &; // #{$block-name}__element

  &__container {
    flex: 1 1 auto;
    max-width: 100%;
  }

  &__control-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    @media (min-width: $screen-md) {
      flex-direction: initial;
      align-items: center;
      justify-content: space-between;
    }

    .btn {

      @media (max-width: $screen-md - 1) {
        margin-top: 24px;
      }
    }
  }

  &__slide {
    box-sizing: border-box;
  }

  &__slide__img {
    border-radius: $border-radius;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__slide-text,
  &__datetime-wrapper {
    margin-top: 24px;
  }

  &__slide-title {
    margin-top: 0;
  }

  &__datetime-wrapper {
    margin-bottom: 0;

    span {
      display: inline-block;
      vertical-align: baseline;
    }
  }

  .datetime {
    margin-right: 16px;
    color: $main-color;
  }

  .datetime,
  &__time {
    font-size: $font-size-lg;
  }
}
