.organization-card {
  height: 100%;
  padding: 24px;
  background-color: $block-bg;
  background-repeat: repeat-x;
  background-position: center top;
  background-size: 303px 99px;
  background-image: url(../img/top-horiz.png);
  border-radius: $border-radius;

  $block-name:                &; // #{$block-name}__element

  &__title {
    margin: 0 0 16px;
    text-transform: uppercase;
  }

  &__line {
    position: relative;
    padding-left: 34px;
    margin: 0 0 10px;
    font-size: $font-size-sm;
    font-weight: 500;
    color: $title-color;

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: -1px;
      left: 0;
      width: 24px;
      height: 24px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px;
    }

    &--address {

      &::before {
        background-image: svg-load('../blocks/sprite-svg/svg/pin.svg', fill=$main-color);
      }
    }

    &--tel {

      &::before {
        background-image: svg-load('../blocks/sprite-svg/svg/phone.svg', fill=$main-color);
      }
    }

    &--email {

      &::before {
        background-image: svg-load('../blocks/sprite-svg/svg/email.svg', fill=$main-color);
      }
    }

    &--site {

      &::before {
        background-image: svg-load('../blocks/sprite-svg/svg/link.svg', fill=$main-color);
      }
    }

    &--no-icon {
      padding-left: 0;

      &::before {
        display: none;
      }
    }
  }
}
