.social-links {

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {

    & + & {
      margin-left: 8px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    text-decoration: none !important;
    color: $link-color;


    &:hover,
    &:focus {
      color: $link-color--hover;
    }

    svg {
      width: 24px;
      height: 24px;
      fill: currentColor;
    }
  }

  &--footer {

    #{$block-name}__list {

      @media (max-width: $screen-md - 1) {
        justify-content: center;
      }
    }

    #{$block-name}__link {
      color: $white;
      opacity: 0.8;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
}
