.index-heading {
  display: flex;
  align-items: center;
  padding: 16px 0;
  margin-top: 0;
  margin-bottom: 40px;
  color: $main-color;
  border-top: 1px solid $main-color;
  border-bottom: 1px solid $main-color;

  $block-name:                &; // #{$block-name}__element

  &__text {
    margin-left: 16px;
    text-transform: uppercase;
  }

  &--first,
  &--no-index {
    padding-top: 0;
    border-top: none;
  }

  &--no-index {
    padding: 0 0 24px;
    margin-bottom: 0;

    #{$block-name}__text {
      margin-left: 0;

      & > span {
        display: block;
        font-size: 28px;
        font-weight: 600;
        color: $title-color;
      }
    }

    svg {
      display: none;
    }
  }
}
