.index-heading {
  display: flex;
  align-items: center;
  padding: 16px 0;
  margin-top: 0;
  margin-bottom: 40px;
  color: $main-color;
  border-top: 1px solid $main-color;
  border-bottom: 1px solid $main-color;

  $block-name:                &; // #{$block-name}__element

  &__text {
    margin-left: 16px;
    text-transform: uppercase;
  }

  &--first {
    padding-top: 0;
    border-top: none;
  }
}
