.burger {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  padding: 0;
  color: $toggler-part-bg-color;
  background-color: $white;
  border: none;
  user-select: none;
  cursor: pointer;

  @media (min-width: $menu-desktop-width) {
    display: none;
  }

  &:hover,
  &:focus {
    color: $link-color--hover !important;
  }

  > span {
    display: inline-block;
    width: 22px;
    height: $toggler-part-height;
    background: currentColor;
    position: relative;
    @include radius(2px);
    transition: all $transition-time $transition-time;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 65%;
      height: $toggler-part-height;
      background: currentColor;
      @include radius(2px);
      transform-origin: 50% 50%;
      transition: top $transition-time $transition-time, transform $transition-time;
    }

    &::before {
      top: -7px;
      right: 0;
    }

    &::after {
      top: 7px;
      left: 0;
    }
  }

  &--close {
    color: $main-color;

    > span {
      transition: background $transition-time 0s;
      background: transparent;

      &::before,
      &::after {
        width: 100%;
        top: 0;
        transition: all $transition-time, transform $transition-time $transition-time;
      }

      &::before {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &::after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}
